<div class="opi-form bg-light p-3 mt-4 rounded-lg">
Write something
<%= form_with(model: @opinion, local: true) do |form| %>
  <div class='offset-md-4 col-md-4'>
  <div class="field col-md-4">
    <%= form.text_field :content%> 
    <%= form.submit class:'btn btn-primary rounded mt-2' %>
  </div>
  </div>
<% end %>
</div>
</div>