<% if user_signed_in?%>
<%= render 'layouts/header'%>
    <div class="index-page">
        
        <div>
            <%= render 'opinions/form'%>
        </div>
        
        <div>
            <%= render 'users/who_to_follow'%>
        </div>
        
        <div>
            <%= render 'layouts/feed'%>
        </div>
    
    </div>
<%end%>


