<% if user_signed_in?%>
<%= render 'layouts/header'%>
    <div class="index-page">
        
            <%= render 'opinions/form'%>
        
        
            <%= render 'users/who_to_follow'%>
        
        
        
            <%= render 'layouts/feed'%>
        
    
    </div>
<%end%>


