<div class="row">
    <div class="col-md-4 follow-stats d-flex">
            <div class="follow-count mr-2 ">
                <%= link_to "#{current_user.following.count} Following ", following_user_path(current_user), class: 'following-count rounded mr-2'%>
            </div>
            <div class="follow-count mr-2 ">
                <%= link_to "#{current_user.followers.count} Follower ", followers_user_path(current_user), class: 'follower-count rounded mr-2'%>
            </div>
    </div>
</div>