<%= render 'layouts/header'%>
<div class="col-md-6 offset-md-2">
    <% if @users.any? %>
        <ul class="users follow">
            <h1>Follower</h1>
            <% @users.each do |user|%>
            <div class="follow">
                <div class="follow-avatar">
                <%= link_to gravatar_for(user, size: 50), user_path(user) %>
                    <%= link_to user.username, user_path(user)%>
                </div>
            </div>
            <%end%>
        </ul>
    <% end %>
</div>