
    <div class="who-to-follow">
        <% current_user.not_following_users.each do |user|%>
            <div class="user-to-follow">
                <div>
                <%= photo_for user%>
                <%=link_to user.username, user_path(user) %>
                </div>
            </div>
        <%end%>
    </div>
