@import "bootstrap";
// @import "bootstrap-sprockets";
body {
  background-color: rgb(66, 108, 163);
  color: rgb(126, 126, 126);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.follow-stats {
  display: flex;

  a {
    text-decoration: none;
  }
}

.opi-box {
  padding: 1rem;
  text-align: center;
  margin-top: 1em;

  a {
    text-decoration: none;
  }

  .opi-author {
    text-align: left;
    margin-left: 2em;
  }

  .card-body {
    font-size: 1.5em;
    text-align: left;
  }

  .card-footer {
    text-align: right;

    a {
      text-decoration: none;
      text-align: right;
    }
  }
}

* {
  // border: 1px solid red;
}

.opi-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.time-ago {
  font-size: 0.6em;
  margin-right: auto;
}
