@import 'bootstrap';
$bg-color: rgb(67, 108, 163);
$color: rgb(126, 126, 126);
$clear: rgb(255, 255, 255);

body {
  background-color: $bg-color;
  color: $color;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.follow-stats {
  display: flex;

  a {
    text-decoration: none;
  }
}

// * {
//   border: 1px solid #ff0;
// }

.follow {
  background-color: $clear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;

  .follow-avatar {
    height: auto;
    width: 100%;
  }
}

.opi-box {
  margin-top: 1em;
  padding: 1rem;
  text-align: center;

  a {
    text-decoration: none;
  }

  .opi-author {
    margin-left: 2em;
    text-align: left;
  }

  .card-body {
    font-size: 1.5em;
    text-align: left;

    img {
      height: auto;
      width: 100%;
    }
  }

  .card-footer {
    text-align: right;

    a {
      text-align: right;
      text-decoration: none;
    }
  }
}

.opi-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
}

.time-ago {
  font-size: .5em;
  text-align: right;
}
