@import 'bootstrap';
$bg-color: rgb(67, 108, 163);
$color: rgb(126, 126, 126);
$clear: rgb(255, 255, 255);
$sidebar: rgb(33, 51, 70);

body {
  color: $color;
  font-family:
    'Lucida Sans',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    Geneva,
    Verdana,
    sans-serif;

  a {
    text-decoration: none;
  }
}

h1 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.user-gravatar-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.navigation {
  display: flex;
  flex-direction: row;
  height: 20vh;
}

.navi-icon {
  color: $sidebar;
}

.navi-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
  background-color: $bg-color;
}

.navi-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  min-height: 100vh;
  background-color: $sidebar;

  .follow-count {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  a {
    color: $bg-color;
  }
}

.opi-content {
  font-size: 1.5rem;
  background-color: $clear;
  text-align: center;
}

.follow-stats {
  color: $bg-color;
}

.follow {
  background-color: $clear;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;

  .follow-avatar {
    height: auto;
    width: 100%;
  }
}

.opi-box {
  margin-top: 1em;
  padding: 1rem;
  text-align: center;

  a {
    text-decoration: none;
  }

  .opi-author {
    margin-left: 2em;
    text-align: left;
  }

  .card-body {
    font-size: 1.5em;
    text-align: left;

    img {
      height: auto;
      width: 100%;
    }
  }

  .card-footer {
    text-align: right;

    a {
      text-align: right;
      text-decoration: none;
    }
  }
}

.opi-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 50%;
}

.time-ago {
  font-size: 0.5em;
  text-align: right;
}
// * {
//   border: 1px solid red;
// }
.who_to_follow {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 18vw;
  margin-left: auto;
  // border: 1px solid red;

  .user-to-follow {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    // border: 1px solid yellow;
    margin-bottom: 1rem;
  }
}

.cover {
  height: 10em;
  width: 100%;
  margin-left: 40%;
}
